<div class="pokemon" [style.backgroundColor]="color" appBorderCard="#ff0000">
  <div class="img-container" appBorderCard>
    <img [src]="imageUrl" [alt]="name"/>
  </div>
  <div class="info">
    <span class="number">{{ this.pokemon.id
						.toString()
						.padStart(3, '0') }}</span>
    <h3 class="name">{{ name }}</h3>
    <small class="type">Type: <span>{{ type }}</span></small><br/>
    <small class="first ability">First Ability: <span>{{ firstAbility }}</span></small><br/>
    <small class="weight">Kg: <span>{{ weight }}</span></small>
  </div>
</div>
